body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title {
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-bottom: 21px;
    border-radius: 5px;
}
.player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-row-gap: 30px;
}
.players img{
    width: 56px;
    height: 56px;
}
.players {
    display: flex;
    align-items: center;
}
.player-name {
    margin-left: 16px;
    font-size: 18px;
}
hr {
     border-color: rgb(245, 182, 11)  ;
     margin-bottom: 33px;
}

/* blog part of 1st section */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px ;
}
.blog-title{
    font-size: 20px;

}
.blog-author {
    color: #9F9F9F ;
    font-size: 16px;
}
.blog-author  a{
    text-decoration: none;
    font-size: 16px;
    color: blue;
}
/* Website courses part */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;

}
.course {
    border: 1px solid rgb(235, 226, 226);
    padding: 10%;
    box-shadow: gray 1px 2px 5px;
    border-radius: 5%;
    

}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
}
.fa-star {
    font-size: 12px;
}
.fa-star.filled {
    color: rgb(250, 179, 1);
}
.fa-star.empty {
    color: rgb(161, 161, 140);
}
.course-info {
    display: flex;
    align-items:center;
    font-size: 12px;
    justify-content: space-between;
}
.course-duration {
    background-color: rgba(209, 120, 120, 0.39);
    color: red;
    padding: 2%;
    border-radius: 30%;
    font-size: 17px;
}

/* --------------
Media Queries
------------- */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .player, .blogs, .courses {
        /* background-color: rgb(230, 225, 216); */
        grid-template-columns: repeat(1, 1fr);
    }
    .players, .blog {
        flex-direction: column;
    }
}
/*-------------------
 Media queries- table
 -------------- */
@media only screen and (min-width: 688px) and (max-width:992px) {

    .container{
        width:100%;
    }
    .player, .blogs {
        /* background-color: rgb(230, 225, 216); */
        grid-template-columns: repeat(2, 1fr);
    }
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .players, .blog {
        flex-direction: column;
    }
}